{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}
{% block content %}
<div class="content row welcome">
        <div class="col-8">


<h1 class="margin row justify-content-center">{{welcome.title}}</h1>
<p>{{welcome.description}}</p>
        </div>
        <div class="col-4">
<img class="img-text" src="{{welcome.image.url}}" alt="My image">
        </div>
</div>
{% if user.is_authenticated %}
<a class="btn btn-secondary "href={% url 'edit' welcome.pk %} >Edit</a>
{% endif %}


<h2 class="margin row justify-content-center ">Latest posts: </h2>
{% show_latest_posts 3 %}


<h2 class="margin row justify-content-center ">Most commented posts:</h3>
{% get_most_commented_posts 3 as most_commented_posts %}
<ul>
{% for post in most_commented_posts %}
  <div class="row justify-content-center ">
                  <a href="{% url 'post_detail_func' post.pk %}"
                     class="btn btn-outline-secondary next-post margin">
                      <h2 class="margin">{{post.title}}</h2>
                {% if post.photo %}

                    <img class="img-text smallphoto" src="{{post.photo.url}}" alt="My image">

                {% else %}
                    <img class="img-text smallphoto" src="{% static 'blog/panda.jpg' %}" alt="My image">
                {% endif %}
                      <p class="margin">{{post.text|markdown|truncatewords_html:30}}<p class="margin">
                      Tags: {{post.tags.all|join:", " }}
                  </p>
                      <p class="margin">{{post.comments.count}} comments
                  </p>
                  </a>

            </div>
{% endfor %}
</ul>
    <div class="footer"><p>I've written {% total_posts %} posts so far. <a href="{% url "post_feed" %}">Subscribe to my RSS feed </a>too know about latest posts </p></div>
{% endblock %}
