<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html dir="ltr" lang="
">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Icones -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Bootstrap-->

    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Liu+Jian+Mao+Cao&display=swap"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog_styles.css' %}" rel="stylesheet"


</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
            <img alt="nothing here" height="50" src="{% static 'blog/cart.png' %}">
        </div>

        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'post_list' %}>Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products_list' %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_search' %}">Search</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_create' %}">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unpublished' %}">Unpublished</a>
                </li>

                {% endif %}
            </ul>
        </div>
        {% if not user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <div class="navbar-brand d-none d-md-block"><span
                    class="smaller">Cart Mobile Gallery by Monika Filipek </span></div>
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <a href="{% url 'logout' %}"><i class="material-icons">how_to_reg</i></a>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <a href="{% url 'login' %}"><i class="material-icons">perm_identity</i></a>
        </ul>
        {% endif %}

    </nav>

    {% block content %}{% endblock %}
</div>
</body>
</html>
