{% extends "blog/base.html" %}
{% load static %}

{% block content %}

        <div class="content">
            {% if success %}
            <div class="alert alert-success" role="alert">
            Thank you for adding comment. It will be display after approval
            </div>
            {% endif %}
        <h3 class="title">{{post.title}}</h3>

            <div class="col-12 text-center justify-content-around high">
                {% if post.photos.count != 0 %}
                <div class="verticalcenter">
                    <img class="img-text" src="{{post.photos.first.photo.url}}" alt="My image">
                </div>
                {% else %}
                    <img class="img-text" src="{% static "blog/panda.jpg" %}" alt="My image">
                 {% endif %}
                <div class="col-12 text padding"><p>{{post.text|linebreaks }}</p></div>



            <div class="row justify-content-between">
        <div class="col-sm-3"><h8>athor: {{post.author}}</h8></div>

        <div class="col-sm-4"><p class="row">published {{post.published_date}}</p></div>
                </div>
        </div>
        </div>
            <div class="row justify-content-around">
                <div class="col-sm-6 uuu">
            {% if post.approve_comments.count != 0 %}
                    <h4>Comments:</h4>
                    <hr>
            {% endif %} <div class="comments">
                    {% for comment in post.comments.all %}

                        {% if comment.approved_comment or user.is_authenticated%}
                    <div {% if user.is_authenticated %} class="comments" {% endif %}>
                            <small> {{comment.author}}</small>
                            <small> {{comment.create_date}}</small>
                            <small class="right">score: {{comment.score}}

                                     <a href="{% url 'score_up' post.pk comment.pk %}"><i class="material-icons">thumb_up</i></a>
                                     <a href="{% url 'score_down' post.pk comment.pk %}"><i class="material-icons">thumb_down</i></a>
                            </small>

                            <p> {{comment.text}}</p>
                            {% if user.is_authenticated %}

                            <div class="right">
                                <div class="btn-group-sm " role="group" aria-label="Approve or delete">
                                    {% if not comment.approved_comment%}
                                        <a class="btn btn-secondary" href="{% url 'approve' comment.pk %}" >Approve</a>
                                    {% elif comment.approved_comment %}
                                        <a class="btn btn-secondary" href="{% url 'disapprove' comment.pk %}" >Disapprove</a>
                                    {% endif %}
                                     <a class="btn btn-secondary" href="{% url 'delete' comment.pk %}" >Delete</a>
                                </div>
                            </div>
                            {% endif %}</div>
                        {% endif %}
                    {% empty %}
                        <p>No comments yet. Add the first one.</p>

                    {% endfor %}
                </div>

                    <a href="{% url 'add_comment_to_post' post.pk %}" class="btn btn-outline-secondary">Add a comment</a>
                </div>

            </div>
        </div></div>

{% endblock %}