@import url("//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.uuu{
    background-color: #eeebf7;
    font-size: 20 px;
    margin-bottom: 50px;
}
.img-text {
    float: left;
    padding: 20px 20px 20px 20px;
    max-width: 80%;
    align: bottom;

}
.right{
    float: right;
}
.high{
    border: 1px solid grey;
     margin: 20px;
     padding: 10px;
}
.postlist_img{
    max-width: 100%;
}
.navbar-brand{
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  color: pink !important;
}
.navbar{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: 900;
  background-color:  yellow;
  color: green;
}

.navbar a:hover {
  background-color: #efe9f2;
}

.smaller{
  font-size: 20px;
  color: #e6e0d1;
}

.title{
  background-color: white;
  padding: 5px;
  margin:10px;
  text-align: center;
}

.text{
  opacity: 0.5;
  text-align: justify;
}

.block{
  padding: 3%
}

.comments{
  background-color: white;
  padding: 5px;
  margin:10px;
  text-align: center;
}

