@import url("//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
a{
color: black;
}
.uuu{
    background-color: #eeebf7;
    font-size: 20 px;
    margin-bottom: 50px;
}
.img-text {
    float: left;
    padding: 20px 20px 20px 20px;
    max-width: 80%;
    max-height: 300px;
    align: bottom;

}
.right{
    float: right;
    margin: 10px;
}
.left{
    float: left;
    margin: 10px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padding{
    padding: 10%;
}
.high{
    border: 1px solid grey;
     margin: 20px;
     padding: 10px;
}
.comment{

}
.postlist_img{
    max-width: 100%;
}
.navbar-brand{
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  color: pink !important;
}
.navbar{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: 900;
  background-color:  yellow;
  color: green;
}
.nav-item{
    border: 1px solid grey;
    border-radius: 10px;
    border-color: rgba(55, 55, 55, 0.15);
}
.navbar a:hover {
  background-color: pink;
}

.smaller{
  font-size: 20px;
  color: #e6e0d1;
}

.title{
  background-color: white;
  padding: 5px;
  margin:10px;
  text-align: center;
}

.text{
  opacity: 0.5;
  text-align: justify;

}

.block{
  padding: 3%
}

.comments{
  padding: 5px;
  margin:10px;
    margin-bottom:50px;
}

